<html lang="en">
<%- include("../partials/request-header.ejs") -%>

<body>
  <%- include("../partials/request-nav.ejs") %>
  <form action="/favours" method="POST">
    <h2>Create a new request</h2>
    <label for="category">Request category:</label>
    <input type="text" id="category" name="category" required>
    <div class="category error"></div>
    <label for="credit">Request credit:</label>
    <input type="text" id="credit" name="credit" required>
    <div class="credit error"></div>
    <label for="remark">Request remark:</label>
    <textarea id="remark" name="remark"></textarea>
    <div class="remark error"></div>
    <input type="hidden" name="owner" value=<%= user._id %> />
    <input type="hidden" name="status" value="Available" />
    <button>Submit</button>
  </form>

  <%- include("../partials/request-footer.ejs") -%>
</body>
</html>