<html lang="en">
<%- include("../partials/request-header.ejs") -%>

<body>
  <%- include("../partials/request-nav.ejs") %>
  <form action="/favours" method="POST">
    <h2>Create a new request</h2>
    <label for="category">Request category:</label>
    <input type="text" id="category" name="category" required>
    <div class="category error"></div>
    <label for="credit">Request credit:</label>
    <input type="text" id="credit" name="credit" required>
    <div class="credit error"></div>
    <label for="remark">Request remark:</label>
    <textarea id="remark" name="remark"></textarea>
    <div class="remark error"></div>
    <input type="hidden" name="owner" value= <%= user._id %> />
    <button>Submit</button>
  </form>

  <%- include("../partials/request-footer.ejs") -%>
</body>
</html>

<!-- <script>
  const form = document.querySelector('form');
  const categoryError = document.querySelector('.category.error');
  const creditError = document.querySelector('.credit.error');
  const remarkError = document.querySelector('.remark.error');

  form.addEventListener('submit', async (e) => {
      e.preventDefault();
      console.log("pressed");

      // reset errors
      categoryError.textContent = "";
      creditError.textContent = "";
      remarkError.textContent = "";

      // get the values
      const category = form.category.value;
      const credit = form.credit.value;
      const remark = form.remark.value;
      const owner = user.name;
      console.log(category, credit, remark, owner);
      try {
          const res = await fetch('/favours/requests', {
              method: 'POST',
              body:  JSON.stringify({ category, credit, remark, owner }),
              headers: { "Content-Type": "application/json" }
          })
          const data = await res.json();
          if (data.errors) {
              categoryError.textContent = data.errors.category;
              creditError.textContent = data.errors.credit;
              remarkError.textContent = data.errors.remark;
          }
          if (data.user) {
              location.assign("/favours/requests");
          }
      }
      catch (err) {
          console.log(err);
      }
  })
</script> -->